body {
    font-family: arial;
    background-color: #0b0b0b;
}
.sbody {
    color: #fff; margin: 50px auto; width: 900px; padding:10px;
}
.header {
    float: left;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    background-color: #333a;
    color: white;
    text-align: center;
}
.header button{
    margin: 10px;
}
.header a{
    margin: 10px;
}



a{
    color: #fa0;
    text-decoration: none;
}

a:hover{
    color: #ffe800;
    text-decoration: none;
    cursor: pointer;
}

.btn {
  color:#fff;
  border: none;
  background-color: inherit;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  padding: 7px 40px 7px 40px;
}

.btn:hover {background: #eee; color:#000;}

.animediv{
    background-color: #444;
    color: #fff;
    height: 100px;
    border: 2px solid #333;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    overflow: hidden;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    font-size: 20px;
    color: #ccc;
    background-color: #222531;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 30px 50px;
    border: 1px solid #888;
    width: 80%; /* could be more or less, depending on screen size */
}
.modal-content p{
    margin: 0;
}
.animediv:hover{
    background-color: #668;
}
.animeinfo{
    float:left;
    width: 650px;
}
.animetitle{
    font-size:20px;
    margin: 3px 0 0 10px;
    font-weight: normal;
}
.comment{
    font-size:15px;
    margin: 3px 0 5px 10px;
}
.animedata{
    font-size: 15px;
    float: left;
    margin-left: 10px;
}
.animedata p{
    line-height: 6px;
}
.animedata .readmore{
    cursor: pointer;
    color: #fa0;
}
.animedata .readmore:hover{
    color: #ffe800;
}

.animeimg{
    float: left;
    background: #444;
    height: 90px;
    width: 70.53px;
    margin: 5px 0px 0px 5px;
}
.animeimg:hover{
    cursor: pointer;
}
.animeimg img{
    margin: auto;
    height: 100%;
    width:70.53px;
    object-fit: cover;
}



.filter {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.filter-content {
    font-size: 20px;
    color: #ccc;
    background-color: #222531;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 30px 50px;
    border: 1px solid #888;
    width: 80%; /* could be more or less, depending on screen size */
    max-width: 500px;
}


@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(50,50,50,0.8);
   color: white;
   text-align: center;
}